@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-container {
    scroll-snap-type: y mandatory;
  }

  .scroll-child {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  .slanted-full {
    clip-path:  polygon(0 0, 15% 100%, 70% 100%, 55% 0,
    60% 0, 75% 100%, 90% 100%, 75% 0,
    80% 0, 95% 100%, 100% 100%, 85% 0)
  }
  .striped {
    clip-path:  polygon(0 0, 0% 70%, 100% 70%, 0% 100%,
    100% 75%, 75% 0%, 90% 0%, 90% 100%,
    95% 100%, 95% 0%, 100% 0%, 100% 100%)
  }
  .slanted {
    clip-path:  polygon(0 0, 0% 100%, 70% 100%, 55% 0,
    60% 0, 75% 100%, 90% 100%, 75% 0,
    80% 0, 95% 100%, 100% 100%, 85% 0)
  }
}
