@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .scroll-container {
      scroll-snap-type: y mandatory;
    }

    .scroll-child {
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }
  }
}
